@import '../../../index.scss';

.Portfolio ul li {
    margin: 0 10px;
    background-color: $cinza;
    padding: 10px 25px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover {
        background-color: $roxo-claro
    }
}

.Red {
    background-color: red !important;
}