@import '../../index.scss';

main {
    padding: 80px 0;
    @include container;
    @include device(768px) {
        flex-direction: column;
    }
    & p {
        font-size: 15px;
    }
    & span:nth-child(2) {
        color: $roxo;
        font-weight: 600;
        font-size: 3rem;
    }
    & img {
        width: 100%
    } 
    & div:nth-child(1) {
        max-width: 45%;
        @include device(768px) {
        max-width: 100%;
        text-align: center;
        margin-bottom: 50px;
        }
    }
    & div:nth-child(2) {
        max-width: 55%;
        @include device(768px) {
            max-width: 80%;
        }

    }
}

