@import '../../index.scss';

.Jobs {
    @include container;
    &  > div:first-child {
        margin: 0 auto;
    }
    & .Linha-vertical {
        margin: 0 auto 80px auto
    }
}

.Servicos {
    @include container-interno;
    justify-content: center;
    & img {
        max-width: 25%;
    }
    & div {
        max-width: 350px;
    }
}