@import '../../index.scss';

.Skills {
    margin-bottom: 100px;
    @include container;
    & .Linha-vertical, > div:first-child {
        margin: 0 auto;
    }
    & .Linha-vertical {
        margin-bottom: 80px
    }
}

.Habilidades {
    @include container-interno;
    & div {
        max-width: 230px;
    }
    img {
        max-width: 60%;
    }
}